#Ignore folders

@*
addons
bliss
docs
dta
mpmissions/dayzOffline.*
NexXerServer/VPPAdmintools/**/*.txt
steamapps
Users
NexXerServer/DataCache

#Ignore types
*.db
*.001
*.002
*.bikey
*.log
*.RPT
*.ADM
*.bin
*.dll
*.pbo
*.exe
